{% extends 'templates/main_base.html' %}
{% load static %}

{% block title %}Add Project{% endblock %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
{% block content %}

 


<!-- ############################################################   -->

<div class="container-xxl flex-grow-1 container-p-y">
  <form class="browser-default-validation" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h4 class="py-3 breadcrumb-wrapper mb-4"><span class="text-muted fw-light">COS AI - VMS APP /</span> Add Project </h4>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Add Project</h5>
                <div class="card-body">
                    <div class="form-group">
                        {% if form.errors %}
                                  <ul class="alert alert-danger" >
                                      {% for field, errors in form.errors.items %}
                                      <li >{{ field }}: {{ errors }}</li>
                                      {% endfor %}
                                  </ul>
                                  {% endif %}

                                  {% if messages %}
                                      {% for message in messages %}
                                          <div class="alert alert-success" role="alert">
                                              {{ message }}
                                          </div>
                                      {% endfor %}
                                  {% endif %}
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Select Company</label>
                                 <select id="company" name="company" class="form-control" required>
                                    <option value="" disabled selected>Select Company</option>
                                    {% for company in company_list %}
                                        <option value="{{ company.id }}">{{ company.name }}</option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="userid" value="{{ userid }}" />
                               
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Project Name</label>
                                <input type="text" id="project_name" name="name" value="" required class="form-control" />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

</div>


{%endblock%}
