{% extends 'templates/main_base.html' %}
{% block content %}

<div class="content-wrapper">
	
	<div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="py-3 breadcrumb-wrapper mb-4"><span class="text-muted fw-light">COS AI - VMS APP  /</span> Upload Cloud Excel Data</h4>

              <div class="row">
                <!-- Basic  -->
				
                <div class="col-12">

                  <div class="card mb-4">
					<div class="row">
						<div class="col-6">
							<h5 class="card-header">Select & Upload File</h5>
					
						</div>
						<div class="col-6 mt-3 ">
							<div class="container d-flex justify-content-end">
					        <button class="btn btn-success" id="download_desired_excel" type="button">Desired Excel format</button>
					    </div>
						</div>
						<div class="card-body ">
						
                    		<form action="" method="post" enctype="multipart/form-data">
							    {% csrf_token %}
							  	<div class="col">
							  		 <input type="file" class="btn btn-default" required name="file">  <!-- Matching the name attribute -->
							  	</div>
							  	<div class="col mb-3">
									<span style="color:red; margin-left: 20px;">Please note that only Excel files with the extensions[ .csv, .xlsx , .xls] are permitted for upload.</span>
							  	</div>
							   
							    <button type="submit" class="btn btn-primary">Submit</button>
							    <a href="{{ request.get_full_path }}" class="btn btn-primary">Reload</a>


							</form>
						{% if messages %}
							<ul class="messages">
								{% for message in messages %}
									<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
								{% endfor %}
							</ul>
						{% endif %}


                    </div>
					</div>
                    
                   
                  </div>
                </div>
				
              </div>
            </div>
</div>

<script>
        document.getElementById('download_desired_excel').addEventListener('click', function() {
            window.location.href = "{% url 'desired_download_excel' %}";
        });
    </script>
{% endblock %}	
