{% extends 'templates/main_base.html' %}
{% load static %}
   <script src="{% static 'assets/js/forms-file-upload.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/dropzone/dropzone.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/dropzone/dropzone.css' %}" />
    <script src="{% static 'assets/vendor/js/template-customizer.js' %}"></script>



{% block title %} Videos List {% endblock %}

 <style>
    .close-top-right {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1051; /* Ensure it is above the modal */
    }

  /*  .model_width{
    width: 66% !important;
    }*/
 </style>
{% block content %}
<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 breadcrumb-wrapper mb-4"><span class="text-muted fw-light">COS AI - VMS APP /</span> Cloud Video List</h4>
    {% if messages %}
      {% for message in messages %}
          <div class="alert alert-success" role="alert" style="display: none;">
              {{ message }}
          </div>
      {% endfor %}
  {% endif %} 

<div class="card mb-4">
    <h5 class="card-header1 " style="margin: 12px;  color: inherit ;">Filter Cloud Data</h5>
    <div class="card-body">
         <form id="filter-form" method="post"  >
             {% csrf_token %}
             <div class="form-group">
                 <div class="col-lg-12">
                     <div class="row">
                        <div class="col-md-4">
                            <label class="form-label" for="company">Select Company</label>
                            <select id="company"required name="company_id" class="form-control">
                            <option value="" disabled selected>Select Company</option>
                            {% for company in company_list %}
                                <option value="{{ company.id }}">{{ company.name }}</option>
                            {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label" for="project">Select Project</label>
                            <select id="project_id"  name="project_id" class="form-control">
                                <option value="" selected>Select Project</option>                           
                            </select>
                        </div>
                        <div class="col-md-4"> 
                            <label class="form-label" for="location">Location Name</label>
                            <select id="location"  name="location_name" class="form-control">
                            <option value="" selected>Select Location</option>
                            </select>
                        </div>                        
                     </div>
                     <div class="row">
                        <div class="col-md-4">
                           <label class="form-label" for="cameraAngle">Camera Angle</label>
                            <select id="cameraAngle"  name="camera_angle" class="form-control">
                                <option value="" selected>Select Camera Angle</option>                              
                            </select>
                        </div>

                        <!-- <div class="col-md-4">
                            <label class="form-label" for="videoStartTime">Available Dates</label>
                            <select id="videoStartTime"  name="videoStartTime" class="form-control">
                                <option value="" selected>Select Dates</option>                             
                            </select>
                        </div> -->
                         <!-- Bootstrap 4 -->
                                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

                                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
                                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

                                <!-- Font Awesome -->
                                <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

                                <!-- Moment.js -->
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>

                                <!-- Tempus Dominus Bootstrap 4 -->
                                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>



                        <div class="col-md-4"> 
                                <label class="form-label">From Time</label>
                                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                <input type="text" id="video_from_time" name="video_start_time" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                                </div>
                        </div>   
                        <div class="col-md-4"> 
                                <label class="form-label">To Time</label>
                                <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                <input type="text" id="video_to_time" name="video_end_time" class="form-control datetimepicker-input" data-target="#datetimepicker2"/>
                                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                                </div>
                        </div>                      
                     </div>                   
                 </div>
                 <button type="submit" class="btn btn-primary mt-3" style="margin-left: 10px;">Submit</button>
             </div>
         </form>
    </div>
</div>



    <div class="card mb-1" >
      <div class="card-datatable table-responsive pt-0">
             <div class="d-flex justify-content-end "> 
            <button class="btn btn-primary mb-3 mt-3 " id="cloud_excel_download">Download Excel</button> &nbsp;
            {% if user_account.user_delete_access %}
                <button class="btn btn-danger mb-3 mt-3 mr-2" id="deleteall_cloud_data">Delete All Data</button>&nbsp;
            {% endif %}
            <button class="btn btn-success mb-3 mt-3" id="export_database">Export SQL</button>&nbsp;
          </div>  
            <table  id="filtered-data-table"  class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Company Name</th>
                  <th>Project Name</th>
                  <th>Location Name</th>
                  <th>Camera Angle</th>
                  <th>Video Start Time</th>
                  <th>Video End Time</th>
                  <th>View</th>
                </tr>
              </thead>
               <tbody>
                {% for item in data %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ item.company_name }}</td>
                  <td>{{ item.project_name }}</td>
                  <td>{{ item.location_name }}</td>
                  <td>{{ item.camera_angle }}</td>
                  <td class="video-start-time">{{ item.video_start_time|date:"Y-m-d H:i:s A" }}</td>
                  <td>{{ item.video_end_time|date:"Y-m-d H:i:s A"}} </td>
                  <td><button class="view-btn btn btn-primary" data-url="{{ item.onedrive_url }}"  >View</button></td>
                </tr>
                {% endfor %}
              </tbody>
              </tfoot>
            </table>
      </div>
    </div>
  </div>
</div>

 



<div class="modal fade model_width" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-xl" style="max-width: 97%;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-md-12">
          <h5 class="modal-title" id="videoModalLabel">Video Viewer</h5>
          <a href="" target="_blank" id="openlink" style="position: absolute; top: -1px; right: 63px;">
            <i class="fa-solid fa-up-right-from-square"></i>
          </a>
          <button type="button" id="closemodal1" class="close btn btn-warning" data-dismiss="modal" aria-label="Close" style="position: relative; z-index: 2; top: -24px; margin-right: -20px; background: #ffc107;">
            <span aria-hidden="true">×</span>
          </button>
        </div>
       

        <button type="button" id="closemodal" class="close btn btn-default" data-dismiss="modal" aria-label="Close" style="position: absolute;z-index: 7;margin-left: 1593px;top: 107px;/* margin-right: 39px; *//* margin-bottom: -12px; *//* background: black; */margin-top: -8px;">
          <span aria-hidden="true">×</span>
        </button>



      </div>
      <div class="modal-body">
        <iframe id="iframe-modal" width="1650" height="700" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script>

$(document).ready(function() {
    var dataTable = $('#filtered-data-table').DataTable({
        paging: true,
        initComplete: function() {
            this.api().columns().every(function(index) {
                var column = this;
                if (index !== 0 && index !== 7) {
                    var title = $(column.header()).text();
                    var select = $('<select class="form-control"><option value="">' +  title + '</option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function() {
                            var val = $.fn.dataTable.util.escapeRegex($(this).val());
                            column.search(val ? '^' + val + '$' : '', true, false).draw();
                        });
                    column.data().unique().sort().each(function(d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>');
                    });
                }
            });
        }
    });

    $('#filter-form').submit(function(event) {
        event.preventDefault();
        var formData = $(this).serialize();
        console.log("formData",formData)
        $.ajax({
            url: '/vfms/filter-data/',
            type: 'POST',
            headers: {
                'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
            },
            data: formData,
            success: function(data) {
                console.log("filter data row is : ", data);
                dataTable.clear();
                for (var i = 0; i < data.length; i++) {
                     var formattedStartTime = moment(data[i].video_start_time).format('YYYY-MM-DD HH:mm:ss A');
                        var formattedEndTime = moment(data[i].video_end_time).format('YYYY-MM-DD HH:mm:ss A');

                    
                    dataTable.row.add([
                        i + 1,
                        data[i].company_name,
                        data[i].project_name,
                        data[i].location_name,
                        data[i].camera_angle,
                        formattedStartTime,
                        formattedEndTime,
                        '<button class="view-btn btn btn-primary" data-url="' + data[i].onedrive_url + '">View</button>'
                    ]);
                }
                dataTable.draw();
            },

            error: function(xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });

    function fetchData(params, successCallback) {
        $.ajax({
            url: '/vfms/fetch-projects/',
            type: 'GET',
            data: params,
            success: successCallback,
            error: function(xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    }

    $('#company').change(function() {
        var company_id = $(this).val();
        fetchData({ 'company_id': company_id }, function(data) {
            var uniqueProjects = [...new Set(data.projects)];
            $('#project_id').empty().append('<option value="" selected>Select Project</option>');
            uniqueProjects.forEach(function(project) {
                $('#project_id').append('<option value="' + project.id + '">' + project.name + '</option>');
            });
            // $('#location, #cameraAngle, #videoStartTime').empty().append('<option value="" selected>Select</option>');
        });
    });

    $('#project_id').change(function() {        
        var project_id = $(this).val();
        console.log("hiiii",project_id)
        fetchData({ 'project_id': project_id }, function(data) {
            var uniqueLocations = [...new Set(data.locations)];
            $('#location').empty().append('<option value="" selected>Select Location</option>');
            uniqueLocations.forEach(function(location) {
                $('#location').append('<option value="' + location + '">' + location + '</option>');
            });

            $('#videoStartTime').empty().append('<option value="" selected>Select Date</option>');
        });
    });

    $('#location').change(function() {
        var location = $(this).val();
        console.log("*******************location",location)

        fetchData({ 'location': location }, function(data) {
            var uniqueCameraAngles = [...new Set(data.cameraangle)];
            $('#cameraAngle').empty().append('<option value="" selected>Select Camera Angle</option>');
            uniqueCameraAngles.forEach(function(cameraAngle) {
                $('#cameraAngle').append('<option value="' + cameraAngle + '">' + cameraAngle + '</option>');
            });

            // $('#videoStartTime').empty().append('<option value="" selected>Select Date</option>');
        });
    });

    

    $('#cloud_excel_download').on('click', function (e) {
        e.preventDefault();  // Prevent default action of the button (if it's a form button)

        // Show SweetAlert confirmation dialog
        Swal.fire({
            title: 'Download Cloud Data',
            text: 'Are you sure you want to download your cloud data as an Excel file?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, download it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // User confirmed, proceed with download
                $.ajax({
                    url: '/vfms/download_cloud_data_excel/',
                    type: 'GET',
                    xhrFields: {
                        responseType: 'blob'  // Set the AJAX response type to blob
                    },
                    success: function(blob) {
                        // Create a URL for the blob object
                        var url = window.URL.createObjectURL(blob);
                        
                        // Create a link element
                        var a = document.createElement('a');
                        a.href = url;
                        a.download = 'cloud_data.xlsx';  // Filename
                        document.body.appendChild(a);  // Append the link to the body
                        a.click();  // Programmatically click the link to trigger the download
                        document.body.removeChild(a);  // Remove the link when done
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', xhr.responseText);
                        Swal.fire(
                            'Error!',
                            'Failed to download cloud data. Please try again.',
                            'error'
                        );
                    }
                });
            }
        });
    });



$(document).ready(function() {
    $('#export_database').on('click', function(e) {
        e.preventDefault();
        Swal.fire({
            title: 'Export Database SQL Format',
            text: 'Are you sure you want to download your database as an SQL file?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, export it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // User confirmed, proceed with export
                $.ajax({
                    url: '/vfms/export_database_postgresql/',
                    type: 'GET',
                    xhrFields: {
                        responseType: 'blob'  // Set the AJAX response type to blob
                    },                  
                    success: function(blob) {
                        console.log(blob)
                        // Create a URL for the blob object
                        var url = window.URL.createObjectURL(blob);
                        
                        // Create a link element
                        var a = document.createElement('a');
                        a.href = url;
                        a.download = 'export_database.sql';  // Filename
                        document.body.appendChild(a);  // Append the link to the body
                        a.click();  // Programmatically click the link to trigger the download
                        document.body.removeChild(a);  // Remove the link when done



                        Swal.fire(
                            'Downloaded!',
                            'Your database has been exported.',
                            'success'
                        );
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', xhr.responseText);
                        Swal.fire(
                            'Error!',
                            'Failed to export database. Please try again.',
                            'error'
                        );
                    }
                });
            }
        });
    });
});

$('#deleteall_cloud_data').on('click', function (e) {
        e.preventDefault();
        Swal.fire({
            title: 'Are you sure?',
            text: 'This will permanently delete all your cloud data!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // User confirmed, proceed with deletion
                $.ajax({
                    url: '/vfms/deleteall_cloud_data_table/',
                    type: 'get',
                    dataType: 'json',
                    success: function(data) {
                        Swal.fire(
                            'Deleted!',
                            'Your cloud data has been deleted.',
                            'success'
                        );
                         setTimeout(function () {
                        location.reload(true);
                      }, 1000);
                        // Optionally, you can perform additional actions after deletion
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', xhr.responseText);
                        Swal.fire(
                            'Error!',
                            'Failed to delete cloud data. Please try again.',
                            'error'
                        );
                    }
                });
            }
        });
    });

  

     $(document).ready(function() {
        $(document).on('click', '.view-btn', function() {
          var startTime = $(this).closest('tr').find('td:nth-child(6)').text();
          console.log('File Name is :', startTime);
          var url = $(this).data('url');
            



          $('#videoModalLabel').text('File Name - ' + startTime);
          $('#iframe-modal').attr('src', url);
          $('#openlink').click(function() {
            $(this).attr('href', url);
          });
          $('#myModal').modal('show');
        });

    function closeModal() {
      $('#iframe-modal').attr('src', '');    
      $('#myModal').modal('hide');
    }

    $('#closemodal').click(closeModal);
    $('#closemodal1').click(closeModal);

  });


});



</script>



{% endblock %}