/* styles.css */
.form-group {
    display: none; /* Hide all form groups by default */
    margin: 50px; /* Adjust the margin as needed */
    padding: 60px; /* Adjust the padding as needed */
    border: 1px solid #ccc; /* Add a border for visual separation */
}

/* Display the selected form group */
.form-group.active {
    display: block;
}